.site-header {
    display: flex;
    flex-direction: column;
}

.header-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 226, 223, 1);
    min-height: 250px;
}

.header-banner .buttons button {
    background-color: #000;
    border-radius: 5px;
    padding: 1em 2em;
    color: #fff;
}

.header-banner .buttons button:first-child {
    margin-right: 1em;
}