.top-bar {
    display: flex;
    justify-content: space-between;
}

.features ul,
.login ul {
    display: flex;
    margin: 1em 5em;
}

.features li,
.features a,
.login li,
.login a {
    display: block;
    padding: 0 0.5em;
}


.features a,
.login a {
    padding: 0.5em;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.login .signup {
    background-color: rgba(173, 226, 223, 1);
    border-radius: 4px;
}