.main-section {
    margin: 20em 10em 5em 10em;
}

.main-section h3, p {
    opacity: 0.6;
}

.main-section p {
    font-size: 12px;
    line-height: 1.5;
}

.section-footer {
    margin: 5em 6em;
}

.section-footer-content {
    display: flex;
}

.section-footer h3 {
    opacity: 0.6;
}

.section-footer-content img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}